{% extends 'base.html.twig' %}

{% block title %}BMP-180{% endblock %}

{% block body %}

    <div class="card" id="app">

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('graphique') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('graphique') }}
{% endblock %}